html,body{
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    overflow-x: hidden;

}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: aquamarine; */
    overflow-x: hidden;
    margin: auto;
}
header{
    font-size: 1.5rem;
    height: 3.7rem;
    width: 99%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.838);
    position: relative;
    top: 60px;
    right: 15px;
    left:9px ;
    /* background: transparent; */
    border: 2px solid black;
}
a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    color: rgb(4, 2, 2);
}
.navbar{
    height: 3rem;
    width: 350px;
     display: inline-block; 
     /* justify-items: end;
    justify-content: end;  */
    position: relative;
      top: .4rem;
    bottom: 1.4rem;
    right: 10px;
    left: 350px;
    /* background-color: black; */
    
    /* left: 200px; */
}

 .navbar img{
 padding:.2rem .2rem .2rem .2rem;
 width:100%;
 height: 100%;
 /* margin:1px 2px; */
 position: relative;
 top: -15px;
 right: 10px;

 }
 h1{
    color: aliceblue;
    position: relative;
    top :-30px;
    display: inline;
 }
.mainlinks{
    /* background-color: aquamarine; */
    display: inline-block;
    position:absolute;
    top: 20px;
    left: 20px;
    padding: 0px 40px;
}
.mainlinks a{
     display: inline-flex;
    gap: 60px; */
    padding: 0px 10px;
    margin-left: 1px;
    color: azure;
}